@import 'variables';

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  direction: $dir;
}

h1{
  margin: 0;
}

a{
  text-decoration: none;
}

.nav{
  background-color: $primary-color;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.nav-header-txt{
  color: $dark-color;
  font-weight: bold;
}

.nav-link{
  margin-top: 16px;
}

.nav-link-item{
  margin-right: 80px;
  color: $link-color;
  font-size: 24px;
}

.nav-link-item:hover , .footer-link-item:hover{
  font-style: oblique;
}

.footer{
  background-color: $dark-color;
  color: $primary-color;
  padding: 40px 160px;
  justify-content: space-between;
  display: flex;
}

.footer-txt{
  display: flex;
  flex-direction: column;
}

.footer-link{
  display: flex;
  flex-direction: column;
}

.footer-link-item{
  color: $primary-color;
  font-size: 24px;
  margin-right: 20px;
}

.first-container{
  display: flex;
  justify-content: space-between;
  padding: 60px 160px;
  background-color: $secondary-color;
}

.first-pic-container img{
  width: 360px;
}

.first-txt-container{
  margin-left: 70px;
}

.first-header-txt{
  font-size: $header-size;
}

.first-subtxt{
  width:440px;
  font-size: $parag-size;
  margin: 34px 0;
}

.first-btn, .signin-btn, .signup-btn, .btn{
  font-family: $font-stack;
  background-color: $dark-color;
  padding: 0px 50px 10px 50px;
  color: $primary-color;
  font-size: $parag-size;
  border-radius: 12px;
  border: none;
}

.first-btn:hover, .signin-btn:hover, .signup-btn:hover, .btn:hover{
  background-color: $primary-color;
  color: $dark-color;
  cursor: pointer;
}

.form-container, .edit-profile-container{
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  padding: 10px 160px;
}

.signin-form{
  margin-left: 180px;
  h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
  }
  label{
    font-size: $parag-size;
    margin: 0;
  }
  input{
    height: 28px;
    width: 320px;
  }
  input:last-child{
    direction: ltr;
  }
}

.signin-img{
  width: 360px;
  margin-top: 40px;
}

.signin-btn{
  margin-top: 20px;
}

.signup-form{
  display: flex;
  justify-content: space-between;
}

.signup-header-txt{
  background-color: $secondary-color;
  margin: 0 ;
  padding:0 190px;
}

.signup-form-inner-container{
  margin-left: 40px;
}

.signup-btn{
  margin-top: 20px;
  margin-right: 10px;
}

.signup-img{
  width: 320px;
}

.signup{
  padding-top: 0 !important;
}

.left-to-right-input{
  direction: ltr;
}

.error-txt{
  color: red;
  font-size: 12px;
}

p{
  margin: 0;
}

.profile-container{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  padding: 80px;
}

.profile-form{
  margin-top: 20px;
  display: flex;
  div{
    margin-right: 50px;
  }
}

.profile-btn{
  margin-top: 10px;
}

.user-type-txt{
  font-size: 12px;
}

.dash-footer-link{
  display: flex;
}

.dash-footer-link-divider{
  display: flex;
  flex-direction: column;
}

.edit-profile-container{ 
  align-items: center;
  flex-direction: column;
  padding-top: 44px;
  padding-bottom: 44px;
}

.edit-profile-form{
  display: flex;
  justify-content: space-between;
  :first-child{
    margin-left: 10px;
  }
  :last-child{
    margin-right: 10px;
  }
  margin-right: 80px;
  margin-top: 20px;
}

.notice {
  font-size: 11px;
}

.post-container{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  justify-content: center;
}

.card-container{
  flex: 0 0 33.333333%;
  margin: 40px 10px;
  padding: 20px 10px;
  background-color: $primary-color;
  border-radius: 18px;
}

.title-container{
  margin-bottom: 20px;
}

.image-container{
  background-color: $dark-color;
  padding: 10px;
  border-radius: 18px;
  text-align: center;
}

.post-img{
  width: 240px;
}

.body-container{
  margin: 20px 0;
}

.collapse-btn{
  border: none;
  background-color: $primary-color;
  color: $link-color;
  font-family: $font-stack;
  font-size: 18px;
  font-weight: bold;
}

.collapse-btn:hover{
  cursor: pointer;
  font-style: italic;
}

.btn-danger{
  background-color: rgb(165, 9, 9);
}

.btn-edit:hover{
  background-color: white;
}

.btn-danger:hover{
  color: rgb(165, 9, 9);
  background-color: white;
}

* {box-sizing: border-box}

/* Set a style for all buttons */
.cancelbtn, .deletebtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: $font-stack;
  font-weight: bold;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}

.leader-card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $dark-color;
  margin: 90px 340px;
  padding: 20px 90px;
  color: white;
  border-radius: 30px;
}

.leader-bio-container{
  width: 230px;
}

.leader-card-row1{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.leader-card-container h1{
  margin: 0;
}

.leader-img-container img{
  width: 140px;
  border-radius: 100%;
  margin-top: 30px;
}

.leader-request-btn{
  background-color: #04AA6D;
  margin-top: 20px;
  color: black;
  padding: 2px 20px 12px 20px;
}

.leader-cancel-btn{
  background-color: rgb(134, 3, 3);
  margin-top: 20px;
  padding: 2px 35px 12px 35px;
}

.warn-container{
  margin: 40px 90px;
  display: flex;
}

.warn-container span{
  color: red;
}

.search-container{
  margin: 40px 90px;
}

.btn-container{
  display: flex;
  justify-content: space-between;
}

.helpseeker-request-btn{
  background-color: #04AA6D;
  margin-top: 20px;
  color: black;
  // padding: 2px 10px 12px 10px;
  font-family: $font-stack;
  
  font-size: 14px;
  border-radius: 12px;
  border: none;
}

.helpseeker-cancel-btn{
  background-color: rgb(134, 3, 3);
  margin-top: 20px;
  color: black;
  // padding: 2px 10px 12px 10px;
  font-family: $font-stack;

  font-size: 14px;
  border-radius: 12px;
  border: none;
}

.notice-container{
  text-align: center;
  padding: 140px 0;
}

.block-linkbtn{
  color:rgb(255, 252, 95);
}

.block-linkbtn:hover{
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}